.wrapper-dropdown {
    clear: both;
    position: relative;
    font-style: normal;
}

.wrapper-dropdown::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
    cursor: pointer;
    display: block;
    min-height: 28px;
    border: 1px solid #7e8993;
    border-radius: 3px;
    background: transparent url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
    background-size: 16px 16px;
	pointer-events: none;
}

.wrapper-dropdown.active::before {
	border-color: #007cba;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 0 0 1px #007cba;
}

.wrapper-dropdown::after { /* Little arrow */
    /* content: "\f140"; */
	position: absolute;
	top: 10px;
    right: 10px;
	z-index: 1;
	padding: 1px 2px 1px 0;
	border-radius: 50%;
	font: 400 20px/1 dashicons;
	speak: none;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}

.wrapper-dropdown .current {
    display: block;
    min-height: 30px;
    padding: 0 24px 0 8px;
	border-radius: 3px;
    background-color: #fff;
    color: #32373c;
	font-size: 14px;
	line-height: 30px;
}

.wrapper-dropdown.active .current {
    color: #016087;
}

.wrapper-dropdown .dropdown {
    /* Size & position */
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 1;

    /* Styles */
    width: auto;
	padding: 0;
	margin: 0;
    background: #fff;
    border-radius: 0 0 3px 3px;
    border: 0 solid transparent;
    border-top: none;
    list-style: none;
	font-size: 13px;

    /* Hiding */
    max-height: 0;
    overflow: auto;
}
.wrapper-dropdown .dropdown li {
    padding: 0;
	margin: 0;
}

.wrapper-dropdown .dropdown li a {
    display: block;
    padding: 0 24px 0 8px;
    color: #32373c;
	line-height: 30px;
    text-decoration: none;
}

.wrapper-dropdown .dropdown li a:focus {
    box-shadow: none;
}

.wrapper-dropdown .dropdown li.selected a {
    background-color: #ddd;
}

.wrapper-dropdown .dropdown li i {
    margin-right: 5px;
    color: inherit;
    vertical-align: middle;
}

/* Hover state */

.wrapper-dropdown .dropdown li a:hover,
.wrapper-dropdown .dropdown li a:focus {
    background-color: #0073aa;
    color: #fff;
}

/* Active state */

.wrapper-dropdown.active {
	z-index: 2;
}

.wrapper-dropdown.active::after {
    /* content: "\f142"; */
}

.wrapper-dropdown.active .dropdown {
    max-height: 210px;
    margin-top: -1px;
    border-width: 2px;
    border-color: #007cba;
}
