.enlightenment-image-radio {
    & > .components-flex {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		-webkit-box-pack: start;
		justify-content: flex-start;
		gap: 0;
        margin-top: -8px;
        margin-left: -4px;
        margin-right: -4px;
	}

    .components-radio-control__option {
        position: relative;
		display: flex;
        flex: 0 0 25%;
        max-width: 25%;
        padding-left: 4px;
        padding-right: 4px;
        margin-top: 8px;
        margin-bottom: 0;
    }

    .components-radio-control__input {
        position: absolute;
        top: 50%;
    	left: 50%;
    	z-index: -1;

        & + label {
            display: flex;
            padding: 3px;
        	border: 1px solid #1e1e1e;
        	background-color: #fff;
        }

        &:focus + label {
            border-color: #007cba;
            border-color: var(--wp-admin-theme-color);
            box-shadow: 0 0 0 2px #fff, 0 0 0 4px #007cba;
            box-shadow: 0 0 0 2px #fff,0 0 0 4px var(--wp-admin-theme-color);
        }

        &:checked + label {
            border-color: #2271b1;
            background-color: #2271b1;
        	color: #fff;
        }
    }
}

.enlightenment-image-radio__option-0-is-text .components-radio-control__option:nth-child(1),
.enlightenment-image-radio__option-0-is-text label ~ .components-radio-control__option:nth-child(2),
.enlightenment-image-radio__option-0-is-text .components-flex > .components-radio-control__option:nth-child(1) {
	display: grid;
    flex-basis: 100%;
    max-width: 100%;

    .components-radio-control__input {
		position: relative;
	    top: 0;
	    left: 0;
	    z-index: 0;
    }

    label {
        display: inline;
        padding: 0;
        border: none;
        background: none;
    }

    .components-radio-control__input:focus + label {
        box-shadow: none;
    }

    .components-radio-control__input:checked + label {
        background: none;
        color: inherit;
    }
}

.enlightenment-image-radio__label {
    &,
	.enlightenment-image-radio__label,
    i {
        display: flex;
        width: 100%;
    }

	svg {
		width: 100%;
		height: auto;
	}
}
