:where(.editor-styles-wrapper) {
    .tribe-editor__event-details {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

        .tribe-editor__meta-group {
            display: block;
            flex: 1 0 0;
            max-width: 100%;
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
            margin: 0;
        }
    }
}
